<ion-content [fullscreen]="true">

  <div id="container">
    <div style="margin-right: 15%; margin-left: 15%;">
      <strong >
        É divertido e ajudamos você a ficar motivado com recompensas pelo seu empenho em ficar "De Boas"
      </strong>
      <img src="../../assets/bob1.png" alt="mascote bob" class="margin-top-25">
    </div>
    <ion-button color="primary" class="margin-top-25" style="font-size: x-large;"
    (click)="_terceira_tela()">
      Próximo</ion-button>
  </div>
</ion-content>
