#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 26px;
    line-height: 26px;
    text-align: left;
  }
  
  .description{
    font-size: 2.2vh;
    text-align: left;
    color: rgb(129, 129, 129);
    font-style: italic;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .inicial_text{
    font-size: large;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .margin-top-25{
    margin-top: 25%;
  }

  .bob-img{
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    // margin: auto;
  }

  .background{
    border-top: 2px solid rgb(129, 129, 129);
    height: 31%;
  }

  .header{
    font-size: 4vh;
    text-align: left;
    font-weight: bold;

  }

  .vertical_central{
    margin-top: auto; 
    margin-bottom: auto;
  }
