<div style="height: 100vh;">
  <div class="close_icon" >
    <ion-icon name="close-outline" class="close_icon"></ion-icon>
  </div>
  <img src="../../assets/bob4.png" alt="bob" class="bob-img">
  <div style="margin-top: 10%; padding: 10%;">
    <ion-progress-bar value="0.5"></ion-progress-bar>
  </div>
  <div class="play_icon">
    <ion-icon name="play-outline" class="play_icon"></ion-icon>
  </div>
  <div> 
    <ion-button  class="horizontal_center" fill="outline" style="height:10vh; margin-left: 20%; margin-right: 20%;">
      <div class="header" style="word-break: break-all;">
        Ficar<br>Sussa
      </div>
    </ion-button>
  </div>
</div>
